/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */
/* font not being used in example */

/* reset & normalize*/
/* prettier-ignore */
*, *::before, *::after { box-sizing: border-box; }
/* prettier-ignore */
* { margin: 0; padding: 0; font: inherit; }
/* prettier-ignore */
html { color-scheme: dark light; }
/* prettier-ignore */
body { min-height: 100vh; }
/* prettier-ignore */
img, picture, svg, video { display: block; max-width: 100%; }

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
}

/* for container queries, landmarks as containers */
body > :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --transition-default: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);
  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  --content-max-width: 1280px;
}

/* Utilities */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.bg-primary-light {
  background-color: var(--clr-primary-light-1);
}

/* Composition */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--fs-400), 1fr) [content-start] min(
      100% - (var(--fs-400) * 2),
      var(--content-max-width)
    )
    [content-end] minmax(var(--fs-400), 1fr) [full-width-end];
}

.content-grid > :not(.full-width),
.full-width > :not(.full-width) {
  grid-column: content;
}
.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

/* Global/base */
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    color: var(--clr-primary-light-1);
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}

/* General Classes */
.site-logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: var(--fw-semi-bold);
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 0.9;

  a&:hover,
  &:focus-visible {
    text-decoration: none;
  }

  h1 {
    color: var(--clr-accent);
  }
}

.icon-container {
  background-color: var(--clr-accent);
  padding: 3rem;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.cta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--fs-900) 0;
  justify-content: center;
  gap: var(--fs-700);
}

.cta-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  max-width: 30rem;
}

.cta-icon {
  width: 100%;
  height: 100%;
}

/*
|------------------------------------
| Buttons
|------------------------------------
*/
.btn {
  border-radius: 50px;
  border: 0;
  padding: 0.5rem 1rem;
  background-color: var(--clr-accent);
  color: var(--clr-primary-light-1);
  cursor: pointer;
  border: 1px solid var(--clr-accent);
  transition: var(--transition-default);

  &:hover {
    background-color: var(--clr-primary-light-1);
    color: var(--clr-accent);
  }
}

/*
|------------------------------------
| Header & Navigation
|------------------------------------
*/
.site-header {
  position: sticky;
  top: 0;
  padding-inline: 1rem;
  z-index: 50;
}

.site-header__nav {
  max-width: var(--content-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo-icon {
  color: var(--clr-accent);
  width: 40px;
  height: 40px;
}

.site-header__nav-list {
  display: none;
}

.site-header__nav-item {
  display: inline-block;
  text-transform: uppercase;
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  transition: var(--transition-default);

  a {
    display: block;
    padding: var(--fs-400) var(--fs-800);
    text-decoration: none;
    &:focus-visible {
      color: var(--clr-accent);
    }
  }
  &:hover {
    background-color: var(--clr-accent);
    a {
      color: var(--clr-primary-light-1);
    }
  }
}

.site-header__nav-toggle {
  width: 59px;
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem 0.875rem;
  transition: var(--transition-default);
  background: none;
  border: none;

  &:hover {
    background-color: var(--clr-accent);
    .bar {
      background-color: var(--clr-primary-light-1);
    }
  }
  .bar {
    width: 100%;
    height: 4px;
    background-color: var(--clr-accent);
    border-radius: 2rem;
  }
}

/*
|------------------------------------
| Hero Section
|------------------------------------
*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  min-height: calc(100dvh - 59px);
  text-align: center;
  p {
    max-width: 30rem;
  }
}

.hero__image-grid {
  height: 70dvh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "img1 img1 img2 img2"
    "img1 img1 img2 img2"
    "img3 img3 img4 img4"
    "img3 img3 img4 img4"
    "img5 img5 img6 img6"
    "img5 img5 img6 img6";
  border: 1rem solid var(--clr-primary-light-1);
  box-shadow: var(--border-shadow);

  > div:nth-child(1){grid-area:img1}
  > div:nth-child(2){grid-area:img2}
  > div:nth-child(3){grid-area:img3}
  > div:nth-child(4){grid-area:img4}
  > div:nth-child(5){grid-area:img5}
  > div:nth-child(6){grid-area:img6}

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*
|------------------------------------
| Newsletter Section
|------------------------------------
*/

.newsletter__content {
  order: 2; /* Specific ordering for mobile */
}

.newsletter__form {
  display: flex;
  position: relative;
  width: 100%;
  input {
    flex: 1;
    border: 1px solid var(--clr-neutral-900);
    border-radius: 50px;
    padding: 0.625rem 6rem 0.625rem 1rem;
    background-color: var(--clr-primary-light-1);
    color: var(--clr-neutral-900);
  }
  input::placeholder {
    text-align: center;
  }
  button {
    position: absolute;
    right: 0;
    top: 2px;
    right: 2px;
    text-transform: uppercase;
  }
}

/*
|------------------------------------
| Cards Section
|------------------------------------
*/
.cards__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto auto 1fr auto;
  gap: 1rem;
  padding: 3rem 0;

  > li {
    /* subgrid fix */
    display: contents; /* ignore <li> element, let article act as the grid item  */
  }
}

.card {
  box-shadow: var(--border-shadow);
  padding: 1rem;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  gap: 1rem;
  height: auto;
}

.card__image {
  position: relative;
  height: 16rem;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card__watermark {
  position: absolute;
  width: 5rem;
  opacity: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__badges {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;

  .badge {
    background-color: var(--clr-accent);
    padding: 0.325rem 0.825rem;
    border-radius: 25px;
    height: fit-content;
    font-size: var(--fs-200);
    font-weight: var(--fw-medium);
    text-transform: uppercase;
    color: var(--clr-primary-light-1);
  }

  .badge--robust{background-color:var(--clr-robust)}
  .badge--green{background-color:var(--clr-green)}
  .badge--flower{background-color:var(--clr-flower)}
  .badge--colorful{background-color:var(--clr-colorful)}
  .badge--sunloving{background-color:var(--clr-sunloving)}
  .badge--air{background-color:var(--clr-air)}
  .badge--decorative{background-color:var(--clr-decorative)}
  .badge--edible{background-color:var(--clr-edible)}
  .badge--easy{background-color:var(--clr-easy)}
  .badge--fragrant{background-color:var(--clr-fragrant)}
  .badge--fast{background-color:var(--clr-fast)}
}

.card__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__author {
  display: flex;
  gap: var(--fs-300);
  align-items: center;
  font-size: var(--fs-300);

  img {
    height: 3.25rem;
    width: 3.25rem;
    border: 1px solid var(--clr-neutral-900);
    border-radius: 100%;
  }

  p {
    font-weight: var(--fw-semi-bold);
  }
}

/*
|------------------------------------
| Plants Section
|------------------------------------
*/

.plants__content {
  justify-content: space-around;
  a {
    text-decoration: none;
    width: fit-content;
    align-self: flex-end;
  }
}

/*
|------------------------------------
| Footer
|------------------------------------
*/
.site-footer {
  margin-block-start: 5rem;
  background-color: var(--clr-accent);
}

.site-footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  color: var(--clr-primary-light-1);

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  a {
    color: var(--clr-primary-light-1);
    font-weight: var(--fw-medium);
  }
}

.site-footer__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.site-footer__logo-icon {
  color: var(--clr-primary-light-1);
  width: 40px;
  height: 40px;
}

.site-footer__contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  a {
    font-weight: var(--fw-medium);
    cursor: pointer;
  }
}

.site-footer__contact-icon {
  height: 16px;
  width: 16px;
}

.site-footer__navigation {
  display: none;
}

/*
|------------------------------------
| Media Queries
|------------------------------------
*/

/* Tablet Styles (min-width: 48rem/768px) */
@media (width >= 48rem) {
  .hero__image-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "img1 img1 img2 img2 img3 img3"
      "img1 img1 img2 img2 img3 img3"
      "img5 img5 img4 img4 img6 img6"
      "img5 img5 img4 img4 img6 img6";
  }

  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .site-footer__content {
    width: 45ch;
  }
}

/* Desktop Styles (min-width: 64rem/1024px) */
@media (width >= 64rem) {
  .hero__image-grid {
    grid-template-areas:
      "img1 img1 img2 img3 img5 img5"
      "img1 img1 img2 img3 img5 img5"
      "img1 img1 img4 img4 img6 img6"
      "img1 img1 img4 img4 img6 img6";
  }

  .site-header__nav-list {
    display: flex;
  }

  .site-header__nav-toggle {
    display: none;
  }

  .newsletter {
    flex-direction: row;
    gap: 5rem;
    .icon-container {
      order: 2;
    }
  }

  .newsletter__content {
    align-items: flex-start;
    text-align: left;
    order: 1;
    padding: 0;
    max-width: 22rem;
  }

  .cards__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .plants {
    flex-direction: row;
    gap: 4rem;
  }

  .plants__content {
    text-align: left;
  }

  .site-footer__navigation {
    display: block;
  }
}
